;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

; 设置 Node 镜像地址
disturl=https://npm.taobao.org/mirrors/node/
; 设置 NPM 镜像地址
registry=https://registry.npm.taobao.org/
